@charset "UTF-8";

/* RESET */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'proxima-nova', 'Proxima Nova', 'Noto Sans Japanese', -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  }

body {
  line-height: 1.0;
  }

img {
  height: auto;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  border: 0;
  }

ol, ul {
  list-style: none;
  }

a:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -o-opacity: 0.6;
  filter: alpha(opacity=60); /* IE lt 8 */
  -ms-filter: "alpha(opacity=50)"; /* IE 8 */
  opacity: 0.6;
  }

a {
  -webkit-transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
  -ms-transition: opacity 0.8s ease-out;
  -o-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
  }


/* COMMON */
.text-white {
    color: #ffffff;
  }

.text-red {
  color: #E83534;
  }

.inline-block{
  display: inline-block;
}

.os-info ul li a {
  color : #3E8BC5;
  font-weight : 600;
  text-decoration : none;
  }

.attention {
  padding-bottom : 20px;
  }

footer p{
  text-align : center;
  }

/* MainVisual */
.main-visual {
  background-color : #80c0a0;
  }

/* Feature */
.feature {
  background-color :#E83534;
  }


/* OS-Info */
.os-info > hr {
  border: none;
  height: 2px;
  background-color: #000000;
  }


.notes-text > .small {
  display:block;
  margin-top:12px;
  font-size:15px;
  }

/*レスポンシブ*/
@media screen and (max-width:768px) {
  /*画面サイズが〜768px*/

.pc {
  display: none !important;
  }

.sp {
  display: block !important;
  }

.section-inner {
  width : 90%;
  margin : 0 auto;
  }

/* MainVisual */
.main-visual{
  background-image: url("../img/mainvisual-bg-sp.png") ;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:106%;
  height: auto;
  position: relative;
}

.visual-info p {
  text-align : center;
  font-size : 24px;
  font-weight : 600;
  line-height: 1.2;
  padding-bottom:10px;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  }

.logo {
  max-width:160px;
  width : 32%;
  margin : auto;
  text-align: center;
  position: absolute;
  top: 26%;
  right: 0;
  left: 0;
  }

.fix-footer-forsp {
  width :100%;
  height : 74px;
  background-color : rgba(255, 255, 255, 0.8);
  position : fixed;
  bottom : 0 ;
  z-index : 999;
  }

.fix-footer-forsp:before{
  content: '';
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  }

.fix-footer-forsp > ul > li {
  display : inline-block;
  margin : 0 auto;
  }

.fix-footer-forsp > ul {
  width : 90%;
  display : flex;
  justify-content: center;
  align-items: center;
  margin : 10px auto;
  text-align:center;
  }

/* About */
.about{
  padding: 80px 0;
  }

.about > .section-inner > h1 > img {
  display : block;
  max-width : 420px;
  margin : 0 auto 25px;
  }

.about p{
  font-size : 18px;
  line-height : 1.8;
  font-weight : 600;
  }

.about-illust{
  width: 79.2%;
  display: block;
  margin: 30px auto 0;
  }

/* Contents */
.contents{
  background-color: #232323;
  padding: 70px 0;
  }

.contents h1{
  font-size: 24px;
  line-height:1.4;
  text-align: center;
  margin-bottom: 10px;
  }

/* Premium */
.premium-title > img {
  display : block;
  max-width : 460px;
  width : 80%;
  margin : 0 auto;
  padding : 60px 0 30px;
  }

.premium p{
  font-size : 18px;
  font-weight : 600;
  line-height : 1.6;
  margin-bottom: 20px;
  }

.premium-img {
  max-width : 480px;
  width : 100%;
  padding-top : 10px;
  display : block;
  }

.notes-text {
  font-size : 16px;
  line-height : 1.6;
  font-weight : 600;
  margin : 40px 0 0;
  text-align: center;
  }

.os-info h2{
  margin-top: 60px;
  font-size: 18px;
  }

.os-info ul > li {
  word-wrap : break-word;
  }

.android p, .ios p {
  font-size :16px;
  font-weight : 600;
  margin : 30px 0 0;
  line-height: 1.4;
  }

.os-info ul{
  margin-bottom : 10px;
  }

.os-info ul li {
  margin-top : 4px;
  line-height:1.6;
    }

.attention{
  line-height: 1.4;
  }

footer{
  margin-top:80px;
  padding:40px 0 100px;
  background-color : #EEEEEE;
  }

}


@media screen and (min-width:769px) {
    /*画面サイズが769px~ */

/* COMMON */
.sp {
  display: none !important;
  }

.section-inner {
  width: 900px;
  height:auto;
  margin: 0 auto;
  }

/* MainVisual */
.main-visual-img{
  background-image: url("../img/mainvisual-bg-pc.png") ;
  max-width:1200px;
  width:100%;
  height:530px;  
  background-position: 0% 20%; 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.main-visual-block{
  width:764px;
  margin:0 auto!important;
  position:relative;
}

.visual-info {
  width : 380px;
  text-align:center;
  padding-top:100px;
  }

.visual-info p {
  font-size : 28px;
  line-height:1.2;
  font-weight:600;
  text-align : center;
  margin-bottom : 15px;
  }


img.logo{
  width: 170px;
  margin: 0 auto;
  text-align:center;
  }

.dl-btn > li {
  margin : 50px auto 90px;
  display: inline-block;
  }

.dl-btn li :first-child {
  margin-right : 2px;
  }

.visual-main {
  position : absolute;
  right : 0;
  top:69px;
  }

/* About */
.about{
  width:900px;
  padding:120px 0;
  margin: 0 auto;
  }

h1{
  width:100%;
  text-align:center;
  margin: 0 auto;
  }

.brief{
  margin-top: 40px;
  font-size : 26px;
  text-align : center;
  font-weight : 600;
  line-height : 1.7;
  }

.about_p{
  font-size : 18px;
  text-align : center;
  font-weight : 600;
  line-height : 1.7;
}

.about img{
  display: block;
  margin: 0 auto;
  }

.about-illust{
  width: 375px;
  display: block;
  padding: 26px 0 40px;
  display: block;
  }


/* Contents */
.contents {
  padding : 120px 0;
  background-color: #222222;
  }

.contents h1 {
  font-size : 38px;
  line-height: 1.4;
  text-align: center;
  font-weight: 600;
  }

.contents-list{
  width: 820px;
  margin: 25px auto 0;
  text-align:center;
  }


/* Premium */
.premium {
  padding: 120px 0 0;
  }

.premium p{
  margin: 40px 0;
  font-size : 18px;
  font-weight : 600;
  text-align : center;
  line-height : 1.8;
  }

.premium img{
  display:block;
  margin: 0 auto;
  }

.app-dl-block img{
  width: 820px;
  display: block;
  padding-top: 60px;
  }

.os-info {
  width : 820px;
  margin : 0 auto;
  }

.os-info h2{
  font-size:22px;
  font-weight:600;
  }

.android p, .ios p {
  font-size :18px;
  font-weight : 600;
  margin : 30px 0 0;
  }

.os-info ul{
  margin-bottom : 10px;
  }

.os-info ul li {
  margin-top : 15px;
    }

footer{
  margin-top:80px;
  padding:40px 0 60px;
  background-color : #EEEEEE;
  }

}
